<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Header" />
	<f:section name="Main">
		<f:if condition="{elements -> f:count()} == 1">
			<f:then>
				<f:render partial="Hero/Item/Main" section="Main" arguments="{
					header: elements.0.data.title,
					headerLayout: data.tx_foundation_elements_header,
					text: elements.0.data.description,
					media: elements.0.media.0,
					settings: '{fo:settings.get(extension: \'Ps14Hero\', path: \'images\')}'
				}" />
			</f:then>

			<f:else if="{elements -> f:count()} > 1">
				<div class="slider">
					<ul class="slider__group">
						<f:for each="{elements}" as="element" iteration="iterator">
							<li class="slider__item" data-index="{iterator.index}">
								<f:render partial="Hero/Item/Main" section="Main" arguments="{
									header: element.data.title,
									headerLayout: data.tx_foundation_elements_header,
									text: element.data.description,
									media: element.media.0,
									settings: '{fo:settings.get(extension: \'Ps14Hero\', path: \'images\')}'
								}" />
							</li>
						</f:for>
					</ul>
				</div>
			</f:else>
		</f:if>
	</f:section>
</html>