<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<div class="hero">
			<f:render partial="Hero/Item/Content" section="Main" arguments="{_all}" />
			<f:render partial="Media/Type/Image" section="Rendering" arguments="{
				file: media,
				settings: '{fo:settings.get(extension: \'Ps14Hero\', path: \'images\')}',
				cssClass: 'hero__media'
			}" />
		</div>
	</f:section>
</html>